body {
  font-family:"Poppins", sans-serif;
}

* {margin: 0; padding: 0;}

li {
  list-style: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

a {
  text-decoration: none;
}

header {
  background-color: #f6f6f6;
  padding: 22px 0;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.header-container a {
  color: #000;
  font-size: 16px;
  padding: 27px 6px;
  margin-right: 63px;
}

.header-container li:last-child a {
  margin-right: 0;
}

.header-container a:hover {
  background-color: #ffea00;
}

#menu-checkbox {
  display: none;
}

ul {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

/*THE SECOND BLOCK*/
.top-slide {
  background: url(../img/slider_bg.jpg) no-repeat;
  background-size: 100% 100%;
  padding-top: 120px;
  padding-bottom: 300px;
}

.top-container {
  width: 80%;
  margin: 0 auto;
}

.top-slide h2 {
  background-color: #ffea00;
  display: inline;
  font-size: 70px;
  padding: 0 13px;
}

.top-slide :nth-child(3) {
  margin-top: 14px;
}

.top-slide p {
  background-color: #414146;
  font-size: 24px;
  display: inline;
  color: #fff;
  padding: 0 4px;
}
/*_/THE SECOND BLOCK*/

/*THE THIRD BLOCK*/
.specialize-container {
  width:80%;
  margin:0 auto;
  text-align: center;
}

.specialize-container h3 {
  margin-top: 90px;
  font-size: 35px;
}

.specialize-container p {
  margin: 10px;
  font-size: 24px;
}

.specialize-cards {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 90px;
}

.card:nth-child(1) img {
  width: 100%;
  height: 100%;
}

.card:nth-child(2) img {
  width: 110px;
  height: 100px;
}

.card:nth-child(3) img {
  width: 110px;
  height: 90px;
}

.card:nth-child(4) img {
  width: 90px;
  height: 110px;
}

.top-card {
  width: 210px;
  height: 180px;
  background-color: #ffea00;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  -ms-align-items: center;
  align-items: center;
  position: relative;
}

.top-card p {
  margin: 25px 0 5px;
  font-size: 15px;
}

.bottom-card {
  background-color: #414146;
  color: #fff;
}

.bottom-card p {
  font-size: 13px;
  margin: 0;
}
/*_/THE THIRD BLOCK*/

/*THE FOURTH BLOCK*/
.portfolio {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.portfolio h4,
.brand-slider h4 {
  background-color: #424147;
  display: inline-block;
  padding: 0px 20px;
  color: #f5e10c;
  font-size: 18px;
  margin-bottom: 30px;
}

.portfolio p,
.brand-slider p {
  color: #414146;
  font-size: 16px;
}

.toggles button {
  border: 1px solid #414146;
  padding: 5px;
  color: #414146;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 10px;
  background: none;
  position: relative;
}

.toggles button:hover {
  border-color: #d4d4d8;
}

.toggles button:nth-child(-n + 3):after {
  content: "*";
  position: absolute;
  right: -15px;
}

.toggles button:focus {
  outline: none;
  border-width: 3px;
}

.posts {
  display: -ms-grid;
  display: grid;
  width: 90%;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  grid-gap: 20px;
}

.post img {
  width: 100%;
}
/*_/THE FOURTH BLOCK*/

/*THE FIFTH BLOCK*/
.brand-slider {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.brand-slider h4 {
  margin-top: 30px;
}

.brand-slider p {
  margin-bottom: 20px;
}

.owl-nav {
  background-color: #000;
  color: #fff;
}

/*_/THE FIFTH BLOCK*/

/*  FOOTER*/
footer {
  background-color: #414146;
  padding: 30px 0;
  color: #fff;
  font-size: 13px;

}

footer h4 {
  font-size: 16px;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 35% auto;
    grid-template-columns: 30% 35% auto;
  grid-gap: 3%;
}

footer .about-us p {
  font-size: 13px;
  margin: 30px 0;
}

.footer-container a.learnMore {
  background-color: #000;
  border-bottom: 2px solid #ffea00;
  color: #fff;
  padding: 10px 14px;
  display: inline-block;
}

footer .about-us .streamHeader{
  margin: 45px 0 25px 0;
}

.footerImages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.about-us img {
  width: 100%;
}

.tweets .tweet {
  margin: 30px 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tweets p {
  display: inline-block;
}

.tweets img {
  margin-right: 15px;
  width: 8%;
  height: 22px;
}

.tweet-text-container{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.tweet-text-container p:nth-of-type(2) {
  margin-top: 7px;
  font-size: 8px;
  color: #ffea00;
}

.tweets span,
.footer-contacts span {
  color: #ffeb00;
}

.social-connecting {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.social-connecting h4 {
  margin-right: 10px;
  font-size: 11px;
}

.social-connecting div {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.social-connecting a {
  display: block;
  width: 27px;
  height: 27px;
  background-color: #fff;
  margin-right: 2px;
}

.social-connecting .bg-facebook {
  background: url('../img/css_sprites.png') -10px -10px;
}

.social-connecting .bg-google_plus {
  background: url('../img/css_sprites.png') -60px -10px;
}

.social-connecting .bg-twitter {
  background: url('../img/css_sprites.png') -10px -60px;
}

.social-connecting .bg-linkedin {
  background: url('../img/css_sprites.png') -60px -60px;
}

.social-connecting .bg-you_tube {
  background: url('../img/css_sprites.png') -110px -10px;
}

.social-connecting .bg-bloger {
  background: url('../img/css_sprites.png') -110px -60px;
}

.social-connecting .bg-rss {
  background: url('../img/css_sprites.png') -10px -110px;
}

.social-connecting .bg-dribbble {
  background: url('../img/css_sprites.png') -60px -110px;
}




.footer-contacts {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.contact-info {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.contacts-container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 30px;
}

.contacts-container .contact-icon {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.contacts-container p:nth-of-type(1) {
  margin-left: 15px;
}

.contacts-container .phone {
  margin-right: 3px;
}

.contacts-container .bg-address {
  background: url('../img/css_sprites.png') -110px -110px;
}

.contacts-container .bg-phone {
  background: url('../img/css_sprites.png') -160px -10px;
}

.contacts-container .bg-email {
  background: url('../img/css_sprites.png') -160px -60px;
}

.follow-us h4 {
  margin-top: 45px;
  margin-bottom: 30px;
}

.subscribe {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 30px;

}

.follow-us input {
  width: 70%;
  background: none;
  border: none;
  border-bottom: solid 2px #ffea00;
  margin: 0;
  border-radius: 0;
}

.follow-us input:focus {
  outline: none;
  border-width: 3px;
}

.follow-us button {
  width: 30%;
  width: 27px;
  height: 27px;
  border: none;
  cursor: pointer;
  background: url('../img/css_sprites.png') -160px -110px;
}

.follow-us button:focus {
  outline: none;
}

/*_/FOOTER*/

/*  FOOTER NAV*/
.footer-nav {
  background-color: #000;
}

.footer-menu {
  width: 60%;
  padding: 20px 0;
  margin: 0 auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.footer-menu a {
  color: #fff;
  font-size: 16px;
  padding: 10px 5px;
}

.footer-menu a:hover,
a.learnMore:hover {
  background-color: #fff;
  color: #000;
}
/*_/FOOTER NAV*/


